/*email preview*/
body.email-preview {background:#FFF; height:100%; overflow:hidden; }

.email-preview .header {height:150px; width:100%; background:#f5f5f5; border-bottom:#d2d2d2 solid 1px; position:relative;}
    .email-preview .header .logo img {height:35px;}

    .email-preview .section-sns {position:absolute; right:10px; top:15px; }
    .email-preview .section-sns {opacity:0.5;}

    .email-preview .btns {position:absolute;  left:20px;bottom:10px; }

	.email-preview .subject {position:absolute; margin:0; left:40px; color:#555; }
    .email-preview h3 { bottom:70px;  }
    .email-preview h4 { bottom:55px;}
    .email-preview .subject .receiver {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        padding-right: 5px;
        line-height: 16px;
    }
    .email-preview .subject .receiver-group {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        font-weight: normal;
        overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
        width: 800px;
        padding-left: 10px;
        line-height: 16px;
        cursor: pointer;
        position: absolute; /*涓���藉�����:hover涓�浼�瀵艰��chrome涓���虹��hover�����峰��*/
    }
    .email-preview .subject .receiver-group:hover {
        z-index:2000; 
        background: #F5F5F5;
        white-space:normal;
        -webkit-box-shadow:0px 2px 6px rgba(0,0,0,0.2);
        -moz-box-shadow:0px 2px 6px rgba(0,0,0,0.2);
        box-shadow:0px 2px 6px rgba(0,0,0,0.2);
        padding: 5px 10px;
        top: -5px;
    }
.email-preview .article iframe {width:100%; box-sizing:border-box;}

/*end email preview*/

.form-table input.subject {width:750px;}
.sender {}
.form-table .reciever {width:750px; height:50px;}
#cke_EmailContent {width:750px;}
.email-content {width:750px;}